:root {
    --total: 9;
    --red: #bd2323;
    --blue: #2361bd;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}

#P1 {
    color: var(--blue);
    border-color: var(--blue);
}

#P2 {
    color: var(--red);
    border-color: var(--red);
}

.playerFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid;
    grid-template-columns: repeat(var(--total), 1fr);
    grid-template-rows: repeat(var(--total), 1fr);
}

.tile {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0.5px solid;
    text-align: center;
    padding: 20%;
}

.miss {
    background-color: #d5d0d0;
}

.hit {
    background-color: rgb(115, 201, 115);
}

.myship {
    background-color: rgb(100, 242, 242);
}

.shadow {
    background-color: blueviolet;
}

.harbour {
    width: 400px;
    min-height: 100px;
    border: 0.5px solid;
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.harbour>h4 {
    padding: 0;
    margin: 0;
    grid-column: 1 / -1;
}

.harbourShip {
    min-width: 50px;
    max-width: 100px;
}

.currentShip {
    color: yellow;
}